*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}


/* nav */
.imgLogo{
    width: 170px;
    height: 75px;
}

nav{
    background-color: #1394c9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 30px 30px 30px rgba(0.3, 0.3, 0.3, 0.3); /* Establece un borde sombreado en la imagen de fondo */
    /* background-image: url(../img/7mo.png); */
    /* background-size: ;
    background-position: ; */
}
.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav .menu div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-nav{
    display: flex;
    flex-direction: row;
    text-align: end;
    height: 60px;
    margin-left: 0px;
    
}

.cont-link{

    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 6px;
    font-weight: bold;
    color: white;

    margin-right: 20px ;
    padding: 20px;
}


.cont-link a{

    margin-right: 5px ;
    text-decoration: none;
    color: white;
}

.cont-link i{

    color: white;
}

.cont-link-sus{

    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 6px;
    font-weight: bold;
    background-color: rgba(143, 33, 33, 0.637);
    color: white;
    margin-top: -10px;
    margin-right: 20px ;
    padding: 40px;
    
}


.cont-link-sus a{

    margin-right: 5px ;
    text-decoration: none;
    color: white;
}

.cont-link-sus i{

    color: white;
    margin-top: -35px;
}

.link-index{

    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    color: aliceblue;
}

.link-contacto{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    color: aliceblue;
}
.link-suscribirse{

    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
}

.link-login{
    
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
}

.link-registro{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
    margin-right: 20px;


    
    margin-right: 20px;
}

.Separacion{
    background-color: white;
}
/* img Fondo */

.fondo{
    margin-top: 50px;
    display: flex;
    background-image:url(../img/find3.jpeg); 
    background-size: cover ;
    background-position: center calc(50% + 10px); /* Ajusta la posición de la imagen de fondo */
    text-align: center;
    color: white;
    justify-content: center;
    height: 500px; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    box-shadow: 30px 30px 30px rgba(0.3, 0.3, 0.3, 0.3); /* Establece un borde sombreado en la imagen de fondo */
}


.boton {
    display: inline-block;
    background-color: #1394c9;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.letrasFondo h1{
    margin-top: 270px;

    letter-spacing: 2px;
    font-size: 74px;
}

.letrasFondo h2{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    letter-spacing: 2px;
}


/* sup */

.sup{
    margin-top: -10px;
    display: flex;
    flex-direction: row;

}

.sup-cuadros{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 332px; /* El valor "auto" centra el div horizontalmente */
    text-align: center; /* Centra el contenido dentro del div */
    padding: 20px;
}

.cuadros {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #1394c9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #737f834f;
    text-align: center;
    width: 150px;
    height: 150px;

    transition: background-color 0.3s, color 0.3s; /* Agregamos transiciones para suavizar el cambio de colores */

}

.cuadros a {
    color: #052735ad;
    text-decoration: none;
}
.cuadros i {
    color: #1394c9;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}

.cuadros:hover{
    background-color: #1394c9;
    color: #fff;
    cursor: pointer;
}

.cuadros:hover i{
    color: #fff;
}

.cuadros:hover a{
    color: #fff;
    text-decoration: none;
}



a{
    text-decoration: none;
    color: black;
}

@media (max-width: 870px ) {

    .menu img{
        width: 100px;
        height: 50px;
    }
    .imgLogo{
        width: 100px;
        height: 50px;
    }
    .menu-nav{
        height: 20px;
        margin-left: 0px;
        
    }

    .cont-link{

        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 3px;
        font-weight: bold;
        color: white;
    
        margin-right: 0px ;
        padding: 8px;
        margin-top: -5px;
    }

    .cont-link-sus{

        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 3px;
        font-weight: bold;
        color: white;
    
        margin-right: 5px ;
        padding: 8px;
        margin-top: -5px;
        
    }

    .letrasFondo h1{
        margin-top: 290px;
    
        letter-spacing: 2px;
        font-size: 40px;
    }
    
    .letrasFondo h2{
    
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        font-size: 15px;
        letter-spacing: 2px;
    }

    
    .sup-cuadros{
        margin-top: 50px;
        margin-left:18%;
        display: flex;
        flex-direction: row;
        text-align: center; /* Centra el contenido dentro del div */
        align-items: center;
        padding: 15px;
    }

    .cuadros {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        background-color: white;
        color: #1394c9;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 8px;
        border-radius: 5px;
        border: 2px solid #737f834f;
        text-align: center;
        width: 100px;
        height: 100px;

        transition: background-color 0.3s, color 0.3s; /* Agregamos transiciones para suavizar el cambio de colores */

    }

    .cuadros a {
        color: #052735ad;
        text-decoration: none;
        font-size: 10px;
    }
    .cuadros i {
        color: #1394c9;
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
        display: block;
    }
    /* .sup-cuadros{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
    } */
    
}
  